img#adminloginpic{
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 100px;
}
button#loginButton {
    margin-top: 30px;
    margin-left: 330px;
    margin-right: 10px;
}
a#AdminBack {
    display: block;
    margin-top: 100px;
    padding: 10px;
}